.batik-min-1-icon6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper112 {
  height: 81px;
  width: 595px;
  position: relative;
  background-color: var(--blue-b300-primary);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.masking-background-icon6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.consolidated-e-statement6,
.e-statement-gabungan6 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  z-index: 2;
}
.e-statement-gabungan6 {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.consolidated-e-statement6 {
  margin: 0;
  height: 19.1px;
  font-size: var(--font-size-3xs);
  display: flex;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.e-statement-gabungan-parent2,
.header-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.e-statement-gabungan-parent2 {
  align-self: stretch;
  justify-content: flex-start;
}
.header-inner2 {
  width: 214.5px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.logo-variant-icon6 {
  height: 29px;
  width: 102px;
  position: relative;
  z-index: 2;
}
.logo-variant-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.plaza-mandiri-jl6 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  z-index: 2;
}
.frame-parent35 {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-5xs);
}
.header6 {
  align-self: stretch;
  background-color: var(--blue-b300-primary);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-base) var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.name12 {
  color: var(--black-b200-txtplaceholder);
}
.namaname6 {
  width: 90px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.brand,
.shoe-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.shoe-size {
  flex: 1;
  align-items: center;
  gap: var(--gap-5xs);
}
.brand {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.filters {
  position: relative;
  display: inline-block;
  min-width: 3px;
}
.kcp-tangerang-summarecon6 {
  position: relative;
  color: var(--black-b400-txttitle);
}
.cabangbranch-parent2,
.customer-branch-info,
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cabangbranch-parent2,
.filter {
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.filter {
  width: 262px;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.jan-2023-6 {
  flex: 1;
  position: relative;
  color: var(--black-b400-txttitle);
}
.tgl-downloaddownloaded-on-container6 {
  position: relative;
  display: inline-block;
  min-width: 112px;
}
.color,
.sort {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sort {
  flex-direction: column;
  gap: var(--gap-7xs);
  min-width: 146px;
}
.color {
  flex-direction: row;
  gap: var(--gap-xl);
  max-width: 100%;
}
.dari-156,
.of-156 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.dari-156 {
  align-self: stretch;
  font-weight: 700;
}
.of-156 {
  display: inline-block;
  font-style: italic;
  min-width: 23px;
}
.of-15-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-mid);
  color: var(--black-b200-txtplaceholder);
}
.gender,
.name13 {
  display: flex;
  justify-content: flex-start;
}
.name13 {
  width: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xs);
  text-align: right;
  color: var(--black-b400-txttitle);
}
.gender {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.produkproduct-deposito-idr-container {
  position: relative;
  display: inline-block;
  min-width: 101px;
}
.tanggal-pembukaan {
  margin: 0;
}
.opening-date {
  margin: 0;
  color: var(--black-b300-txtbody);
}
.tanggal-pembukaan-opening-container {
  height: 36px;
  flex: 1;
  position: relative;
  line-height: 8px;
  display: flex;
  align-items: center;
  min-height: 36px;
}
.metode-perpanjangan-maturity-container {
  flex: 1;
  position: relative;
  line-height: 8px;
  display: inline-block;
  min-height: 36px;
}
.metode-perpanjangan-maturity-i-wrapper,
.tanggal-jatuh-tempo-due-date-wrapper {
  background-color: var(--color-lavender);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.metode-perpanjangan-maturity-i-wrapper {
  width: 62px;
  flex-shrink: 0;
  justify-content: center;
}
.tanggal-jatuh-tempo-due-date-wrapper {
  flex: 1;
  justify-content: flex-start;
  min-width: 38px;
}
.span6 {
  color: var(--color-black);
}
.product-tile {
  width: 45px;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.nominal-pembukaan-opening-container {
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 8px;
  display: inline-block;
  min-height: 27px;
}
.product-tile1 {
  width: 80px;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  text-align: right;
}
.kurs-exchange-rate-container5 {
  width: 100%;
}
.kurs-exchange-rate-container4 {
  height: 27px;
  flex: 1;
  position: relative;
  line-height: 8px;
  display: flex;
  align-items: center;
  min-height: 27px;
}
.products7 {
  flex: 1;
  background-color: var(--color-lavender);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  min-width: 38px;
}
.nominal-saat-ini-container {
  flex: 1;
  position: relative;
}
.nav,
.topbaroffer {
  width: 80px;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  text-align: right;
}
.nav {
  width: 45px;
  padding: var(--padding-5xs);
}
.nomor-rekeningaccount-number-container {
  position: relative;
}
.account-header-labels,
.nomor-rekeningaccount-number-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.nomor-rekeningaccount-number-wrapper {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
}
.account-header-labels {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  color: var(--black-b300-txtbody);
}
.dengan-bunga {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 46px;
}
.dengan-bunga-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
}
.aug-2023 {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 42.8px;
}
.mei-2023-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 38px;
}
.bulan {
  height: 24px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.bulan-wrapper {
  width: 45px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.idr-2000000000 {
  height: 24px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 64px;
}
.idr-2000000000-wrapper {
  width: 80px;
  flex-shrink: 0;
  text-align: right;
}
.idr-2000000000-wrapper,
.wrapper113,
.wrapper114 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.wrapper113 {
  flex: 1;
  min-width: 38px;
}
.wrapper114 {
  width: 45px;
  flex-shrink: 0;
  text-align: right;
}
.nomor-rekeningaccount-number-container1 {
  width: 168px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
}
.tanpa-bunga-wrapper,
.total-frame {
  width: 62px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.total-frame {
  width: 113px;
  justify-content: flex-start;
}
.account-header-labels-child {
  height: 24px;
  width: 40.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-header-labels-child2,
.account-header-labels-item {
  height: 24px;
  width: 62px;
  overflow: hidden;
  flex-shrink: 0;
}
.account-header-labels-child2 {
  width: 45px;
}
.frame-input {
  width: 162px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  font-family: var(--font-tt-interphases);
  font-weight: 700;
  font-size: var(--font-size-6xs);
  color: var(--black-b400-txttitle);
}
.account-header-labels4,
.account-table-header-wrapper,
.content20 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-header-labels4 {
  border-top: 1px solid var(--black-b50-bgdisabled);
  border-bottom: 1px solid var(--black-b50-bgdisabled);
  flex-direction: row;
  gap: var(--gap-11xs);
}
.account-table-header-wrapper,
.content20 {
  flex-direction: column;
  max-width: 100%;
}
.content20 {
  border-bottom: 1px solid var(--black-b50-bgdisabled);
  box-sizing: border-box;
}
.produkproduct-deposito-usd-container {
  position: relative;
  display: inline-block;
  min-width: 103px;
}
.usd-account-header-labels {
  align-self: stretch;
  background-color: var(--color-cornflowerblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  color: var(--black-b0-bgwhite);
}
.usd-maturity-date-info,
.usd-maturity-options,
.usd-maturity-options1,
.usd-opening-amount-info {
  flex: 1;
  background-color: var(--color-lavender);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  min-width: 42px;
}
.usd-maturity-date-info,
.usd-maturity-options1,
.usd-opening-amount-info {
  justify-content: center;
  padding: var(--padding-5xs);
}
.usd-maturity-date-info,
.usd-opening-amount-info {
  justify-content: flex-start;
}
.usd-opening-amount-info {
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-mid);
  min-width: 45px;
  text-align: right;
}
.usd-exchange-rate-info {
  background-color: var(--color-lavender);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-7xl);
  min-width: 42px;
}
.jan-2023-wrapper34,
.usd-current-amount-info,
.usd-exchange-rate-info {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.usd-current-amount-info {
  background-color: var(--color-lavender);
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-7xl);
  min-width: 45px;
  text-align: right;
}
.jan-2023-wrapper34 {
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  min-width: 42px;
}
.tanpa-perpanjangan {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 8px;
  display: flex;
  align-items: center;
  min-height: 24px;
}
.tanpa-perpanjangan-wrapper {
  flex: 1;
  overflow: hidden;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 42px;
}
.tanpa-perpanjangan-wrapper,
.usd-300000-wrapper,
.usd-account-header-labels3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.usd-300000-wrapper {
  flex: 1;
  overflow: hidden;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 45px;
  text-align: right;
}
.usd-account-header-labels3 {
  align-self: stretch;
  border-bottom: 1px solid var(--black-b50-bgdisabled);
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.usd-account-header-labels-child {
  height: 24px;
  flex: 1;
  overflow: hidden;
  min-width: 32px;
}
.usd-account-header-labels-child3 {
  width: 135px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  font-family: var(--font-tt-interphases);
  font-weight: 700;
  font-size: var(--font-size-6xs);
  color: var(--black-b400-txttitle);
}
.contents5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.reksa-danamutual-fund-container2 {
  align-self: stretch;
  position: relative;
}
.schroder-sharia-equity {
  white-space: pre-wrap;
}
.jumlah-unit-total-container8 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.average-nav-info,
.average-nav-info1 {
  width: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.average-nav-info {
  background-color: var(--color-lavender);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-mid);
  box-sizing: border-box;
}
.average-nav-info1 {
  justify-content: center;
  padding: var(--padding-5xs);
}
.average-nav-info1,
.gain-loss-info,
.investment-value-info,
.nav-unit-info {
  background-color: var(--color-lavender);
  overflow: hidden;
  box-sizing: border-box;
}
.nav-unit-info {
  width: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs);
}
.gain-loss-info,
.investment-value-info {
  flex: 1;
  justify-content: flex-start;
}
.investment-value-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xs);
  min-width: 52px;
}
.gain-loss-info {
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-7xl);
  min-width: 58px;
}
.fund-detail-labels1,
.fund-exchange-rate-info,
.gain-loss-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.fund-exchange-rate-info {
  width: 50px;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  text-align: left;
}
.fund-detail-labels1 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-11xs);
  text-align: right;
}
.investment-account3 {
  color: var(--black-b300-txtbody);
}
.akun-investasiinvestment-acco-container3 {
  width: 191px;
  position: relative;
  display: inline-block;
}
.fund-detail-labels2,
.wrapper119 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.fund-detail-labels2 {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  max-width: 100%;
}
.wrapper119 {
  width: 50px;
  background-color: var(--black-b0-bgwhite);
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.wrapper120 {
  width: 50px;
  flex-shrink: 0;
  justify-content: flex-end;
}
.idr-75000000-frame,
.wrapper120,
.wrapper121 {
  background-color: var(--black-b0-bgwhite);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.wrapper121 {
  width: 60px;
  flex-shrink: 0;
  justify-content: flex-end;
}
.idr-75000000-frame {
  flex: 1;
  justify-content: flex-start;
  min-width: 52px;
  white-space: nowrap;
}
.p3 {
  margin: 0;
  color: var(--green-g300);
}
.idr-10000000-1333-wrapper1,
.wrapper122 {
  background-color: var(--black-b0-bgwhite);
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.idr-10000000-1333-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 58px;
}
.wrapper122 {
  width: 50px;
  flex-shrink: 0;
  text-align: left;
}
.fund-detail-labels3,
.wrapper122,
.wrapper123 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wrapper123 {
  flex: 1;
  background-color: var(--black-b0-bgwhite);
  overflow: hidden;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 58px;
}
.fund-detail-labels3 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: right;
}
.transaction-details {
  width: 100px;
  background-color: var(--color-lavender);
  overflow: hidden;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
}
.buy-average,
.transaction-details,
.transaction-type1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.transaction-type1 {
  width: 140px;
  background-color: var(--color-lavender);
  overflow: hidden;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
}
.buy-average {
  width: 93px;
}
.buy-average,
.empty,
.empty1 {
  background-color: var(--color-lavender);
  overflow: hidden;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.empty {
  width: 120px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.empty1 {
  flex: 1;
  min-width: 66px;
}
.empty1,
.jan-2023-wrapper35,
.pembelian-wrapper1,
.transactions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.transactions {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-11xs);
}
.jan-2023-wrapper35,
.pembelian-wrapper1 {
  width: 100px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
}
.pembelian-wrapper1 {
  width: 140px;
}
.wrapper124,
.wrapper125 {
  flex-shrink: 0;
  justify-content: flex-end;
}
.wrapper124 {
  width: 93px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.wrapper125 {
  width: 120px;
}
.idr-10000000-frame,
.wrapper125,
.wrapper126,
.wrapper127 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.idr-10000000-frame {
  flex: 1;
  justify-content: flex-end;
  min-width: 66px;
}
.wrapper126,
.wrapper127 {
  width: 93px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.wrapper127 {
  width: 120px;
}
.content22,
.table14 {
  align-self: stretch;
  flex-direction: column;
}
.table14 {
  border-bottom: 1px solid var(--black-b50-bgdisabled);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
}
.content22 {
  gap: var(--gap-9xs);
}
.content-wrapper3,
.content22,
.contents7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-wrapper3 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--font-size-6xs);
}
.contents7 {
  gap: var(--gap-5xs);
}
.contents4,
.contents6,
.contents7 {
  align-self: stretch;
  flex-direction: column;
}
.contents6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-4xs);
}
.contents4 {
  gap: var(--gap-5xl);
  font-size: var(--font-size-6xs);
  color: var(--black-b400-txttitle);
}
.body-wrapper1,
.body3,
.contents4,
.header-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.body3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  z-index: 1;
}
.body-wrapper1,
.header-parent1 {
  align-self: stretch;
}
.body-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.header-parent1 {
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--black-b0-bgwhite);
  font-family: var(--font-tt-interphases);
}
.pt-bank-mandiri6 {
  width: 343.3px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.bank-info1,
.women-footwear {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.women-footwear {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.bank-info1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-xs)
    var(--padding-base);
  box-sizing: border-box;
  min-width: 302px;
}
.mandiri-call-140006 {
  width: 69px;
  position: relative;
  line-height: 140%;
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
  min-width: 69px;
}
.content23,
.designer-accessories,
.footer6 {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}
.content23 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: var(--gap-26xl);
}
.designer-accessories,
.footer6 {
  flex-direction: column;
  align-items: flex-start;
}
.footer6 {
  align-self: stretch;
  border-top: 1px solid var(--black-b50-bgdisabled);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--black-character-low-emphasis);
  font-family: var(--font-tt-interphases);
}
.designer-accessories {
  width: 595px;
  background-color: var(--black-b0-bgwhite);
  position: relative;
  gap: 59px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .account-header-labels4,
  .header6 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .color {
    flex-wrap: wrap;
  }
  .content23 {
    gap: var(--gap-3xl);
  }
  .designer-accessories {
    gap: 29px;
  }
}
