.batik-min-1-icon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.wrapper53 {
  height: 81px;
  width: 595px;
  position: relative;
  background-color: #007dfe;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.masking-background-icon4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.consolidated-e-statement4,
.e-statement-gabungan4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.consolidated-e-statement4 {
  height: 19.1px;
  font-size: 10px;
  display: flex;
  font-style: italic;
  font-weight: 400;
  align-items: center;
  flex-shrink: 0;
}
.e-statement-gabungan-parent1,
.header-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.e-statement-gabungan-parent1 {
  align-self: stretch;
  justify-content: flex-start;
}
.header-inner1 {
  width: 214.5px;
  justify-content: flex-end;
  padding: 0 0 1px;
  box-sizing: border-box;
}
.logo-variant-icon4 {
  height: 29px;
  width: 102px;
  position: relative;
  z-index: 2;
}
.logo-variant-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.plaza-mandiri-jl4 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  z-index: 2;
}
.frame-parent25 {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 8px;
}
.header4 {
  align-self: stretch;
  background-color: #007dfe;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 16px 14px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
}
.name8 {
  color: #686868;
}
.namaname4,
.name-separator {
  position: relative;
  display: inline-block;
}
.namaname4 {
  width: 90px;
  flex-shrink: 0;
}
.name-separator {
  min-width: 3px;
}
.namaname-parent1,
.name-separator-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.name-separator-parent {
  flex: 1;
  align-items: center;
  gap: 8px;
}
.namaname-parent1 {
  align-self: stretch;
  align-items: flex-start;
  gap: 4px;
}
.kcp-tangerang-summarecon4 {
  position: relative;
  color: #333;
}
.branch-separator-parent,
.cabangbranch-parent1,
.frame-parent28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.cabangbranch-parent1,
.frame-parent28 {
  align-items: flex-start;
  gap: 4px;
}
.frame-parent28 {
  width: 262px;
  flex-direction: column;
  gap: 6px;
}
.jan-2023-4 {
  flex: 1;
  position: relative;
  color: #333;
}
.tgl-downloaddownloaded-on-container4 {
  position: relative;
  display: inline-block;
  min-width: 112px;
}
.frame-parent27,
.frame-parent29 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent29 {
  flex-direction: column;
  gap: 6px;
  min-width: 146px;
}
.frame-parent27 {
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
}
.dari-154,
.of-154 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.dari-154 {
  align-self: stretch;
  font-weight: 700;
}
.of-154 {
  display: inline-block;
  font-style: italic;
  min-width: 23px;
}
.of-15-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 17px;
  color: #686868;
}
.frame-parent26,
.name9 {
  display: flex;
  justify-content: flex-start;
}
.name9 {
  width: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  text-align: right;
  color: #333;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  max-width: 100%;
}
.produkproduct-tabungan-valas-container {
  position: relative;
  display: inline-block;
  min-width: 122px;
}
.produkproduct-tabungan-valas-wrapper,
.table-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.produkproduct-tabungan-valas-wrapper {
  flex: 1;
  overflow: hidden;
  padding: 4px 8px;
  box-sizing: border-box;
}
.table-inner {
  align-self: stretch;
  background-color: #3fa7fc;
  text-align: left;
  color: #fff;
}
.nomor-rekening-account-container1 {
  position: relative;
}
.nomor-rekening-account-number-wrapper {
  background-color: #cae5fc;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 8px 35px;
  text-align: left;
}
.saldo-awal-usd {
  margin: 0;
}
.opening-balance-usd {
  margin: 0;
  color: #494949;
}
.saldo-awal-usd-container {
  flex: 1;
  position: relative;
}
.saldo-awal-usd-opening-balan-wrapper {
  width: 75px;
  background-color: #cae5fc;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 8px 26px;
  box-sizing: border-box;
}
.dana-masuk-valuta-container {
  flex: 1;
  position: relative;
  line-height: 8px;
  display: inline-block;
  min-height: 45px;
}
.dana-masuk-valuta-asal-incom-wrapper {
  width: 75px;
  background-color: #cae5fc;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
}
.saldo-akhir-valuta-container {
  flex: 1;
  position: relative;
  line-height: 8px;
  display: inline-block;
  min-height: 36px;
}
.kurs-exchange-rate-wrapper,
.saldo-akhir-valuta-asal-endi-wrapper {
  width: 75px;
  background-color: #cae5fc;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 17px;
  box-sizing: border-box;
}
.kurs-exchange-rate-wrapper {
  width: 80px;
  justify-content: flex-start;
  padding: 8px 8px 35px;
  text-align: left;
}
.account-balance-row,
.saldo-akhir-idr-ending-balan-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.saldo-akhir-idr-ending-balan-frame {
  width: 96px;
  background-color: #cae5fc;
  overflow: hidden;
  flex-shrink: 0;
  padding: 8px 8px 35px;
  box-sizing: border-box;
  min-width: 62px;
}
.account-balance-row {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 2px;
}
.b46 {
  height: 24px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.wrapper54 {
  width: 75px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: left;
}
.wrapper54,
.wrapper55 {
  justify-content: flex-start;
}
.wrapper55,
.wrapper56,
.wrapper57,
.wrapper58 {
  width: 75px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}
.wrapper56 {
  justify-content: flex-start;
  color: #00ba4a;
}
.wrapper57,
.wrapper58 {
  justify-content: flex-end;
}
.wrapper58 {
  color: #0058b2;
}
.usd-idr {
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 64px;
}
.usd-idr-16325-wrapper {
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 8px;
  text-align: left;
}
.transaction-detail,
.usd-idr-16325-wrapper,
.wrapper59 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wrapper59 {
  width: 96px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0 8px;
  box-sizing: border-box;
  min-width: 62px;
  color: #0058b2;
}
.transaction-detail {
  width: 90px;
}
.original-balance,
.remarks1,
.transaction-detail {
  background-color: #cae5fc;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
}
.remarks1 {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.original-balance {
  width: 98px;
  text-align: right;
}
.balance-value,
.original-balance,
.transaction-row17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.balance-value {
  flex: 1;
  background-color: #cae5fc;
  overflow: hidden;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
  min-width: 129px;
  text-align: right;
}
.transaction-row17 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2px;
}
.jan-202315 {
  height: 28px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.transfer-ke-bank-mandiri-livia-frame,
.wrapper60,
.wrapper61 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 8px;
  box-sizing: border-box;
}
.transfer-ke-bank-mandiri-livia-frame {
  width: 170px;
  flex-shrink: 0;
}
.wrapper60,
.wrapper61 {
  text-align: right;
}
.wrapper60 {
  width: 98px;
  flex-shrink: 0;
  color: #00ba4a;
}
.wrapper61 {
  flex: 1;
  min-width: 129px;
  color: #0058b2;
}
.transfer-ke-bank-container6 {
  flex: 1;
  position: relative;
  line-height: 8px;
  display: inline-block;
  min-height: 28px;
}
.transfer-ke-bank-mandiri-saqil-container,
.wrapper62 {
  width: 170px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}
.wrapper62 {
  width: 98px;
  justify-content: flex-end;
  text-align: right;
}
.feb-2023-container,
.transaction-row28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feb-2023-container {
  width: 90px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 8px;
  box-sizing: border-box;
}
.transaction-row28 {
  z-index: 1;
}
.transaction-row28,
.transaction-row29,
.transaction-row30 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.transaction-row29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.transaction-row30 {
  z-index: 3;
}
.transaction-row30,
.transaction-row31,
.transaction-row32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transaction-row31 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  z-index: 4;
}
.transaction-row32 {
  z-index: 5;
}
.transaction-row32,
.transaction-row33,
.transaction-row34 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
.transaction-row33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.transaction-row34 {
  z-index: 7;
}
.content14,
.table6,
.transaction-row34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table6 {
  align-self: stretch;
  flex-direction: column;
  text-align: left;
}
.content14 {
  gap: 4px;
  max-width: 100%;
}
.content-wrapper2,
.content14,
.contents1 {
  align-self: stretch;
  flex-direction: column;
}
.content-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contents1 {
  text-align: right;
  font-size: 7px;
  color: #333;
}
.body-wrapper,
.body1,
.contents1,
.header-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.body1 {
  flex: 1;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}
.body-wrapper,
.header-group {
  align-self: stretch;
}
.body-wrapper {
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 8px;
  color: #000;
}
.header-group {
  flex-direction: column;
  gap: 16px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: "TT Interphases";
}
.pt-bank-mandiri4 {
  width: 343.3px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.pt-bank-mandiri-persero-tbk-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.content-inner1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px 12px 16px;
  box-sizing: border-box;
  min-width: 302px;
  max-width: 100%;
}
.mandiri-call-140004 {
  width: 69px;
  position: relative;
  line-height: 140%;
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
  min-width: 69px;
}
.content15,
.footer4,
.root4 {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}
.content15 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  gap: 45px;
}
.footer4,
.root4 {
  flex-direction: column;
  align-items: flex-start;
}
.footer4 {
  align-self: stretch;
  border-top: 1px solid #ededed;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: 8px;
  color: #ada6ae;
  font-family: "TT Interphases";
}
.root4 {
  width: 595px;
  background-color: #fff;
  position: relative;
  gap: 35px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .header4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent27 {
    flex-wrap: wrap;
  }
  .content15 {
    gap: 22px;
  }
  .root4 {
    gap: 17px;
  }
}
